.dashboard-template {
    display: grid;
    grid-template-columns: 8% 1fr;
    grid-template-rows: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.right-content {
    display: grid;
    grid-template-rows: 10% 1fr;
    padding: 2em 3em;
    padding-right: 3em;
    transition: all .3s ease-in-out;
}

.contentNav{
    width: 100%;
    padding: 1.5em;
}
.contentTemplate{
    padding: 0 1em;
    overflow-y: scroll;
}