@import url('./home/challenge.css');
@import url('./home/informe.css');
@import url('./home/crearMeta.css');

.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: visible;
    gap: 1em;
}
.contentInfoDashboardHome{
    width: 100%;
    display: flex;
}