@import url('./template/dashboardTemplate.css');
@import url('./template/modal.css');
@import url('./template/nav.css');
@import url('./template/topBar.css');
@import url('./tabla.css');
@import url('./formAdd.css');
@import url('./home.css');
@import url('./empleados.css');

:root {
  --color-text: #fff;
  --color-text-secondary: #737373;
  --color-bg-body-init: #1A1A1A;
  --color-bg-body-secundary: #2C2C2C;
  --font-size-base: 16px;
  --font-primary: "Inter", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: var(--color-text);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

.colorSecundary{
  color: var(--color-text-secondary);
}

.bgMain{
  background-color: var(--color-bg-body-init);
}
.bgSecundary{
  background-color: var(--color-bg-body-secundary);
}
.custom-cursor{
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 10px 1px white;
  transition: all .15s  ease;
  z-index: 1000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}