.table{
    width: 100%;
    background: #2C2C2C;
}
.MenuTabla{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentMenuTabla{
    display: flex;
}
.eliminarFiltro{
    color: #B0B0B0;
}
.eliminarFiltro:hover{
    color: #EA5055;
    cursor: pointer;
}
.tagMenuTable{
    padding: 1em;
    color: #939393;
}
.tagMenuTable:hover{
    cursor: pointer;
    color: #fff;
}
.headerTable{
    background: #222222;
    padding: 1em 2em;
}
.headerTableIcon{
    vertical-align: middle;
    margin-left: .1em;
}
.headerTableIcon:hover{
    cursor: pointer;
}
.tdBodyIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.photoPerfil{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.contentCelda{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em !important;
}
.checkboxTable{
   display: block;
   margin: 0 auto;
}
td{
    text-align: center;
    padding: 0 auto;
}
.tagStatusEmpleadoTable{
    border-radius: 1em;
    padding: .5em 0;
}
.statusEmpleadoActivo{
    background: #52B447;
}
.statusEmpleadoInactivo{
    background: #EA5055;
}
.statusEmpleadoSuspendido{
    background: #E68525;
}
.tdActions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.tdActions:hover{
    cursor: pointer;
}
.pd-1{
    padding: 0 1em;
}
.footerTable{
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}
.infoFooter{
    color: #616161;
}
.pagination{
    display: flex;
    align-items: center;
    gap: 1em;
}
.btnPagination{
    display: flex;
    align-items: center;
    border: 1px solid #313131;
    border-radius: 10px;
    padding: 1em;
}
.btnPaginationActive{
    color: #fff;
    background: #1A1A1A;
}
.btnPaginationInactive{
    color: #B0B0B0;
    background: #2C2C2C;
}
.btnPaginationInactive:hover{
    cursor: not-allowed !important;
}
.btnPagination:hover{
    cursor: pointer;
}